services:
  mongodb:
      container_name: mongo_db
      image: mongo:7.0
      ports:
          - "27017:27017"
      volumes:
          - ./data:/data/db
      networks:
          - proxy-net
      healthcheck:
          test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
          interval: 5s
          timeout: 3s
          retries: 10
          start_period: 10s

networks:
  proxy-net:
    external: true
