TUDUDI_HOST_PORT=3002

TUDUDI_USER_EMAIL=admin@example.com
TUDUDI_USER_PASSWORD=changeme

# openssl rand -hex 64
TUDUDI_SESSION_SECRET=changeme-use-openssl-rand-hex-64

TUDUDI_ALLOWED_ORIGINS=http://localhost:3002

PUID=1000
PGID=1000
