services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      # AQUÍ ESTÁ EL TRUCO:
      # Cambia la ruta de la izquierda por la carpeta donde vas a guardar tus stacks
      - /home/yubisel/homelab:/home/usuario/homelab
    environment:
      # Indica a Dockge dónde buscar tus otros archivos compose
      - DOCKGE_STACKS_DIR=/home/yubisel/homelab
      - DOCKGE_ENABLE_CONSOLE=true
