services:
  calibre:
    image: lscr.io/linuxserver/calibre-web:latest
    container_name: calibre
    env_file:
      - .env
    volumes:
      - ./data:/config
      - ./books:/books
    networks:
      - proxy-net
    ports:
      - 8083:8083
    restart: unless-stopped

networks:
  proxy-net:
    external: true
